.menu{
    width: 30px;
    margin-left: 27px;
    margin-right: 20px;
}
.logo{
    width: 100px;
}
.Search-button{
    width: 70px;
    background-color: #f7f7f7;
    border: 1px solid;
    height: 40px;
    border-color: gray;  
}
.search-icon{
    border-color: gray;
    width: 25px;
}
.mic-icon{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    background-color: #f8f8f8;
}
.mic1-icon{
    width: 23px;
}
.search-bar
{
    flex: 1;
    height: 40px;
    width: 0;
}
.video-class{
   width: 25px;
}
.dots-icon{
    width: 25px;
}
.notification
{
    width: 25px;
}
.channel-profile{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 10px;
}

.home-main{
    margin-bottom: 20px;
}
.explore-main{
    margin-bottom: 20px;
}

.library-main
{
    margin-bottom: 20px;
}

.originals-main
{
    margin-bottom: 20px;
}

.subcription-main
{
    margin-bottom: 20px;
}
.youtube-music-main
{
    margin-bottom: 20px;
}
