.div1{
    background-color: lightblue;
    width: 500px;
    height: 200px;
}

.div2{
    background-color: lightcoral;
    width: 500px;
    height: 200px;
}
.header1
{
    background-color: black;
    color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 50px;
}
body{
    height: 3000px;
    padding-top: 45px;
}
.sidebar{
    background-color: lightslategray;
    color: white;
}